.form {
  font-size: 20px;
  margin: auto;
  max-width: 950px;
  text-align: center;
}

.errors {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 70%;
}

.errors span {
  background: rgb(250, 159, 159);
  border: 1px solid red;
  color: red;
  font-size: 15px;
  max-width: 90%;
  padding: 5px;
  margin-top: 2px;
  margin-bottom: 5px;
}

button {
  width: 160px;
  color: rgb(93, 3, 93);
  height: 50px;
  background: rgb(230, 180, 230);
  border: none;
  font-size: 25px;
  font-weight: 700;
  margin: 15px;
  padding: 8px;
  cursor: pointer;
}
